/*
   Like
*/
.like {
    --card-shadow-color: 4, 9, 20; 
    box-shadow: 0px 0.46rem 2.18rem rgba(var(--card-shadow-color), 0.03),
    0px 0.93rem 1.4rem rgba(var(--card-shadow-color), 0.03),
    0px 0.25rem 0.53rem rgba(var(--card-shadow-color), 0.05),
    0px 0.12rem 0.18rem rgba(var(--card-shadow-color), 0.03);
    width: 100px;
    height: 100px;
    margin: 50px auto;
    border: 1px solid rgba(var(--card-shadow-color), 0.1);
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #fb9300;
    color: #f54748;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}